.alertrow {
  position: relative;
  padding: 16px;
  border-bottom: 1px solid;
  color: #efe7e5;
}

.alertrow h3 {
  margin: 0;
}

.alertrow::before {
  content: attr(data-index);
  position: absolute;
  top: 0.5rem;
  font-size: 1rem;
}

.alertHeader {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.alertHeader>h3 {
  border: 1px solid #4a4a4a;
  padding: 4px 8px;
  border-radius: 4px;
}

.alertDetails {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-left: 8px;
  gap: 8px;
}

.alertDetails>div {
  display: inline-block;
}